body  {
  min-height:100%;
  background-image: url("/static/stylesheets/background.jpeg"), linear-gradient(rgb(231, 174, 121),rgba(106, 180, 241, 0.993));
  background-blend-mode: overlay;
  background-size:cover;
}

.welcome {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-size: 3rem;
  color: aliceblue;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}